* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    height: 100vh;
}

.display {
    text-align: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: hsl(0, 0%, 70%);
    border-radius: 0 0 30px 30px;
}

.display h1 {
    font-size: 18px;
    padding-bottom: 1rem;
}

.scoreNum {
    width: 10rem;
    aspect-ratio: 1/1;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    margin: 10px;
    padding: 15px;
    display: grid;
    place-content: center;
}

.scoreNum h2 {
    font-size: 3rem;
    color:hsl(0, 0%, 100%);
}

.scoreNum p {
    font-size: 1rem;
    color: lightgrey;
}

.scoreText h2 {
    font-size: 1.5rem;
    margin: 10px;
    color: hsl(0, 0%, 100%);
}

.scoreText p {
    font-size: 1rem;
    color: lightgrey;
    margin: 10px;
}

.summary {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
    color: hsl(224, 30%, 27%);
}

.summary h2 {
    align-self: flex-start;
    font-size: 1.25rem;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    font-weight: 700;
}

.detail:nth-of-type(1) {
    background-color: hsl(0, 100%, 95%);
    position: relative;
}

.detail:nth-of-type(2) {
    background-color: hsl(39, 100%, 95%);
}

.detail:nth-of-type(3) {
    background-color: hsl(166, 100%, 95%);
}

.detail:nth-of-type(4) {
    background-color: hsl(234, 85%, 95%);
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 0.5rem;
}

.categoryText-1 {
    color: hsl(0, 100%, 67%);
}

.categoryText-2 {
    color: hsl(39, 100%, 56%);
}

.categoryText-3 {
    color: hsl(166, 100%, 37%);
}

.categoryText-4 {
    color: hsl(234, 85%, 45%);
}

.categoryScore span {
    color: rgb(165, 160, 160);
}

button {
    background-color: hsl(224, 30%, 27%);
    transition: background;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid black;
    color: hsl(0, 0%, 90%);
    font-size: 1rem;
    font-weight: 700;
}

button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 600px) {
    body {
        display: grid;
        place-items: center;
    }
    .container {
        max-width: 768px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: 0.5rem 0.5rem 1rem 0.2rem hsl(0, 0%, 90%);
        border-radius: 30px;
    }
    .display {
        border-radius: 30px;
        justify-content: center;
        padding: 2rem 3rem;
    }
    .score {
        margin: 2rem 0;
    }
    .summary {
        padding: 1rem 0.8rem;
  
    }
}